%h1
  = @movie.title
  %span.badge= @movie.rating
.jumbotron
  .media
    .media-left
      %img.img-rounded.media-object{ src: @movie.cover, height: 150 }
    .media-body
      = @movie.description
      %div=@movie.plot
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
  -if notice
    .alert.alert-danger= notice.join(",")
  %div
    = form_with model: [@movie, Comment.new] do |form|
      .form-group
        %h4 Describe your impression about the movie
        =form.text_area :content, class: 'form-control', placeholder: 'Tell us something...'
      =form.submit class:'btn btn-primary'
  %div
    %h4 Comments
    - @movie.comments.each do |comment|
      .card
        .card-header
          Commented by:
          %strong #{comment.user.name}
          #{link_to "Delete"}
        .card-body
          .card-text= comment.content

